**/*~
**/*.pyc
**/__init__.py
**/html
**/pdfdata
**/Pdfdata
**/PDFdata
**/output
**/br.sm*
**/*.dat
**/*.DAT
**/*.old.*
**/*.out
**/*.o
**/*.a
**/*.so
**/*.d
**/*.pcm
**/*.lhe
**/*.c
**/*.log
**/tmp*
**/*.pdf
**/*.png
**/*.eps
**/settings.json
**/.vscode
test/*.root
test/*.txt
*.root
*.txt
obj
lib
*executables
*executables_san
